nav {
    display: flex;
    justify-content: space-around;
}

nav > div {
    width: 80%;
    justify-items: left;
}

.raumContainer {
    text-align: center;
    border: 2px solid black;
    width: 50%;
    height: 70%;
    justify-self: center;
    align-self: center;
}

#rootContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
