body {
    background-color: #FFFFFF;
    color: #000000;
}

.inter-light {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

a {
    text-decoration: none;
    text-decoration-color: none;
}

h1 {
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: fit-content;
    border-radius: 20px;
}

nav {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 20px;
    text-decoration-color: #94B4C1;
}

.blue {
    background-color: #3A59D1;
}
